<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.DiscussPostMapper">

    <!--如果userId != 0，则根据userId查询帖子-->
    <select id="selectDiscussPosts" resultType="com.nowcoder.community.entity.DiscussPost">
        select * from nowcoder.discuss_post where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit};
    </select>

    <!--如果userId != 0，则根据userId查询帖子数量-->
    <select id="selectDiscussPostRows" resultType="java.lang.Integer">
        select count(id)
        from nowcoder.discuss_post
        where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
    </select>
</mapper>